body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;

  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 32pt;
  text-decoration: underline;
}

h2 {
  margin-bottom: 10px;;
}

p {
  margin: 0 0;
}

button {
  font-family: --apple-system, 'Open Sans', sans-serif;
  font-weight: normal;
  border: 1px solid #000;
}

label {
  margin-bottom: 10px;;
}

input[type=range] {
  display: inline-block;
  vertical-align: middle;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}