.navbar-open {
  position: absolute;
  
  border: none;
  background: transparent;
  font-size: 16pt;

  top: 10px;
}

  .navbar-open:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  #open-settings {
    left: 10px;
  }

  #open-about {
    right: 10px;
  }

.setting {
  margin-top: 10px;
}

  .slider {
    margin-top: 5px;
  }

    .slider span {
      margin: 0 5px;
    }